<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <group id="caching">
            <field id="cache_autoclean" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Enable cache autoclean</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <comment>Cleans config cache on config save</comment>
            </field>
            </group>
        </section>
    </system>
</config>
